.App {
  text-align: center;
  color: #2b2418;
}
.App .link {
  text-decoration: none;
  color: #dfad2e;
}
.App .link:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .App footer {
    padding: 0 20px 0;
    font-size: 12px;
  }
}