.Meaning {
  text-align: left;
}
.Meaning h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px;
}
.Meaning ul {
  margin: 0;
  padding: 0;
} 
.Meaning li {
  list-style: none;
  margin-bottom: 40px;
  font-size: 16px;
}
.Meaning .example {
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
}

@media (max-width: 700px) {
  .Meaning {
    text-align: justify;
  }
  .Meaning h3 {
    font-size: 20px;
    margin-bottom: 25px;
    text-align: center;
  }
  .Meaning li {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .Meaning .example {
    font-size: 14px;
  }
}