.Results {
  color: #2b2418;
  font-family: 'Poppins', sans-serif;
}
.Results .container {
  border-radius: 15px;
  background: #fff;
  margin: 30px auto;
  padding: 30px 120px;
}
.Results .container h2 {
  font-size: 36px;
}
.Results .container .pronunciation {
  display: flex;
  justify-content: center;
}

@media (max-width: 700px) {
  .Results .container {
    padding: 30px;
  }
  .Results .container h2 {
    font-size: 30px;
  }
}